@import '@/styles/base.scss';

.featureToken {
    padding: 8rem 0;
    background-color: #1C1D55;
    .featureTitle {
        margin-bottom: 9rem;
    }
    .featureContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
   
}
