@import '@/styles/base.scss';

.totalItem {
    background: url('../../../../public/frameTotalFt1.png');
    background-color: var(--dark-color);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 39rem;
    position: relative;
    .mainHeader {
        position: relative;
        transform: translateY(-40%);
        display: flex;
        justify-content: center;
       
        .header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .titleFrameInner {
                position: absolute;
                top: 0;
                left: 0.5rem;
                right: 0.5rem;
            }
            h3 {
                position: absolute;
                @include text-gradient;
                font-weight: bold;
                margin-bottom: 0;
                font-size: 1.8rem;
            }
        }
    }

    .union {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        h4 {
            font-size: 3rem;
            font-weight: bold;
            @include text-gradient;
            margin-top: 4rem;
        }
    }
   
}